LOG_LEVEL=INFO
LOG_FILE=logs/pipeline.log
 
# Kafka
KAFKA_SERVERS=kafka:29092
KAFKA_TOPIC=order_events
 
# Spark
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_APP_NAME=OrderEventStreamConsumer
SPARK_SQL_SHUFFLE_PARTITIONS=8
 
# Airflow
AIRFLOW__CORE__FERNET_KEY=AIRFLOW_KEY
 
# Paths inside Docker containers
BRONZE_PATH=/opt/data/bronze
SILVER_PATH=/opt/data/silver
GOLD_PATH=/opt/data/gold
REGIONS_PATH=/opt/data/regions.csv
CHECKPOINT_PATH=/opt/data/checkpoint
LOG_PATH=/opt/data/logs